<section id="content">
    <div ng-show="!isViewDetail" class="container">
        <br>
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s10">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" type="text" ng-model="search" class="validate">
                    <label for="icon_prefix">Search</label>
                </div>
                <div class="input-field col s2">
                    <div class="input-field col s12">
                        <button ng-click="createBatch()" class="btn green waves-effect waves-light right" name="action">
                            <i class="material-icons left">add</i> New</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul class="tabs tab-demo-active z-depth-3">
                        <li class="tab col s2"><a class="grey white-text waves-effect waves-light active" href="#new">New (5)</a>
                        </li>
                        <li class="tab col s2"><a class="yellow black-text waves-effect waves-light" href="#po-creation">PO Creation (11)</a>
                        </li>
                        <li class="tab col s2"><a class="deep-orange white-text waves-effect waves-light" href="#po-created">PO Created (19)</a>
                        </li>
                        <li class="tab col s2"><a class="green darken-1 white-text waves-effect waves-light" href="#receiving">Receiving (2)</a>
                        </li>
                        <li class="tab col s2"><a class=" waves-effect waves-light" href="#search">Search Result (4)</a>
                        </li>
                        <li class="indicator white" style="z-index:1;"></li>
                    </ul>
                </div>
                <div class="col s12">
                    <div id="new" class="col s12 active" style="">
                        <br>
                        <table id="data-table-simple" class="display" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Arrival Date</th>
                                <th>Approved By</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="batch in batches | filter: { status: 'NEW'}">
                                    <td>{{batch.serialNumber}}</td>
                                    <td>{{formatDate(batch.batchCreationDate)}}</td>
                                    <td>{{batch.createdBy.firstName}} {{batch.createdBy.lastName}}</td>
                                    <td>{{formatDate(batch.arrivalDate)}}</td>
                                    <td>{{(batch.approvedBy.firstName) ? batch.approvedBy.firstName : 'N/A'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <div id="po-creation" class="col s12" style=";">
                        <br>
                        <table id="data-table-simple1" class="display" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Arrival Date</th>
                                <th>Approved By</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="batch in batches | filter: { status: 'PO_CREATION'}">
                                <td>{{batch.serialNumber}}</td>
                                <td>{{formatDate(batch.batchCreationDate)}}</td>
                                <td>{{batch.createdBy.firstName}} {{batch.createdBy.lastName}}</td>
                                <td>{{formatDate(batch.arrivalDate)}}</td>
                                <td>{{(batch.approvedBy.firstName) ? batch.approvedBy.firstName : 'N/A'}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <div id="po-created" class="col s12" style="">
                        <br>
                        <table id="data-table-simple2" class="display" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Serial No.</th>
                                    <th>Created At</th>
                                    <th>Created By</th>
                                    <th>Arrival Date</th>
                                    <th>Approved By</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="batch in batches | filter: { status: 'PO_CREATED'}">
                                <td>{{batch.serialNumber}}</td>
                                <td>{{formatDate(batch.batchCreationDate)}}</td>
                                <td>{{batch.createdBy.firstName}} {{batch.createdBy.lastName}}</td>
                                <td>{{formatDate(batch.arrivalDate)}}</td>
                                <td>{{(batch.approvedBy.firstName) ? batch.approvedBy.firstName : 'N/A'}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <div id="receiving" class="col s12" style="">
                        <br>
                        <table id="data-table-simple3" class="display" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Arrival Date</th>
                                <th>Approved By</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="batch in batches | filter: { status: 'RECEIVING'}">
                                <td>{{batch.serialNumber}}</td>
                                <td>{{formatDate(batch.batchCreationDate)}}</td>
                                <td>{{batch.createdBy.firstName}} {{batch.createdBy.lastName}}</td>
                                <td>{{formatDate(batch.arrivalDate)}}</td>
                                <td>{{(batch.approvedBy.firstName) ? batch.approvedBy.firstName : 'N/A'}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                    <div id="search" class="col s12" style="">
                        <br>
                        <table id="data-table-simple4" class="display" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Serial No.</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Arrival Date</th>
                                <th>Approved By</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="batch in batches">
                                <td>{{batch.serialNumber}}</td>
                                <td>{{formatDate(batch.batchCreationDate)}}</td>
                                <td>{{batch.createdBy.firstName}} {{batch.createdBy.lastName}}</td>
                                <td>{{formatDate(batch.arrivalDate)}}</td>
                                <td>{{(batch.approvedBy.firstName) ? batch.approvedBy.firstName : 'N/A'}}</td>
                                <td>{{batch.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="isViewDetail">
        <div class="fixed-action-btn horizontal" style="bottom: 50px; right: 19px;">
            <a class="btn-floating btn-large">
                <i class="material-icons">add</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating green tooltipped" ng-click="save('NEW')" data-position="top"  style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" data-tooltip="Save">
                        <i class="material-icons">save</i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating yellow tooltipped" ng-click="save('PO_CREATION')" data-position="top"  style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" data-tooltip="Send for PO Creation">
                        <i class="material-icons">send</i>
                    </a>
                </li>
                <!-- <li>
                   <a href="app-calendar.html" class="btn-floating amber" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
                     <i class="material-icons">today</i>
                   </a>
                 </li>
                 <li>
                   <a href="app-email.html" class="btn-floating red" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;">
                     <i class="material-icons">mail_outline</i>
                   </a>
                 </li>-->
            </ul>
        </div>
        <div class="container">
            <br>
            <div class="row col s12">
                <div class="col s4">
                    <div class="card-panel">
                        <div class="row">
                            <h5>Select Supplier</h5>
                            <selectize config="supplierConfig" options='suppliers' ng-model="supplier" ></selectize>
                        </div>
                        <div class="row">
                            <select-date date="batch.arrivalDate"></select-date>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input id="serialNumber"
                                       name="Serial Number"
                                       ng-model="batch.serialNumber"
                                       type="text">
                                <label for="brand-name" class="">Serial Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-panel">
                        <div class="row mb-3">
                            <div class="col s6">
                                <h5>Add Item</h5>
                            </div>
                            <div class="col s6 right-align">
                                <h5>
                                    <input type="checkbox" ng-model="isAddNewItem" id="test5" />
                                    <label for="test5">Add New Item</label>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <form class="col s12" enctype="multipart/form-data" method="post" name="productForm">
                                <div ng-show="!isAddNewItem">
                                    <div class="row">
                                        <div class="col s3 "></div>
                                        <div class="col s6 landscape center-align">
                                            <img ng-show="!isAddNewItem" ng-src="{{imgSrc ? imgSrc : 'asset/images/icon/apple-watch.png'}}" class="center">
                                            <input enctype="multipart/form-data"
                                                   id="fileUpload"
                                                   name="fileUpload"
                                                   type="file"
                                                   fileread="fileUpload"
                                                   accept="image/x-png,image/gif,image/jpeg"/>

                                        </div>
                                        <div class="col s3 "></div>
                                    </div>
                                    <div ng-hide="isAddNewItem" class="row">
                                        <div class="col s12">
                                            <div class="input-field">
                                                <input id="brand-name"
                                                       name="Barcode"
                                                       ng-model="barcode"
                                                       ng-keyup="populateProductFields($event)"
                                                       type="text">
                                                <label for="brand-name" class="">Barcode</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <div class="input-field">
                                                <input id="itemType"
                                                       name="Barcode"
                                                       ng-model="product.itemType.itemTypeName"
                                                       disabled
                                                       type="text">
                                                <label for="itemType" class="">Item Type</label>
                                            </div>
                                        </div>
                                        <div class="col s6">
                                            <div class="input-field">
                                                <input id="model"
                                                       name="Model"
                                                       ng-model="product.model"
                                                       disabled
                                                       type="text">
                                                <label for="model">Model</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">
                                            <div class="input-field">
                                                <input id="brand"
                                                       name="Color"
                                                       disabled
                                                       ng-model="product.brand.value"
                                                       type="text">
                                                <label for="brand">Brand</label>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="input-field">
                                                <input id="color"
                                                       name="Color"
                                                       disabled
                                                       ng-model="product.color"
                                                       type="text">
                                                <label for="color">Color</label>
                                            </div>
                                        </div>
                                        <div class="col s4">
                                            <div class="input-field">
                                                <input id="color-code"
                                                       name="Color Code"
                                                       disabled
                                                       ng-model="product.colorCode"
                                                       type="text">
                                                <label for="color-code">Color Code</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="textarea1"
                                                      name="Description"
                                                      disabled
                                                      ng-model="product.description"
                                                      class="materialize-textarea"></textarea>
                                            <label for="textarea1">Remarks</label>
                                        </div>
                                    </div>
                                </div>
                                <create-update-product ng-show="isAddNewItem"
                                                       product="product"
                                                       file-upload="fileUpload"
                                                       img-src="imgSrc"
                                                       item-type="itemType"
                                                       item-types="itemTypes"
                                                       brands="brands"
                                                       is-item-type-error="isItemTypeError"
                                                       is-brand-error="isBrandError">
                                </create-update-product>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <button class="btn red waves-effect waves-light right" ng-click="clear()">Clear
                                            <i class="material-icons left">close</i>
                                        </button>
                                    </div>
                                    <div class="input-field col s6">
                                        <button class="btn green waves-effect waves-light right" ng-click="addToItemList(productForm)" type="submit" name="action">Add to Item list
                                            <i class="material-icons left">keyboard_arrow_right</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col s8">
                    <div class="card-panel">
                        <div class="row">
                            <div class="col s6"><h5><span class="card-title">Item List {{itemLists.length}}</span></h5></div>
                            <div class="col s6"><a ng-click="back()" class="waves-effect waves-light right"><i class="material-icons prefix">keyboard_backspace</i></a></div>
                        </div>
                        <table class="display" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Model</th>
                                <th>Item</th>
                                <th>Brand</th>
                                <th>Color</th>
                                <th>Color Code</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="itemList in batch.arrivedLine">
                                <td><a ng-click="batch.arrivedLine.splice($index, 1)" class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons suffix">clear</i>
                                </a> {{itemList.product.model}}</td>
                                <td>{{itemList.product.itemType.id}}</td>
                                <td>{{itemList.product.brand.id}}</td>
                                <td>{{itemList.product.color}}</td>
                                <td>{{itemList.product.colorCode}}</td>
                                <td><input type="number" ng-model="itemList.quantity"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>