<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" ng-app="App"
      ng-controller="IndexController">
<!--================================================================================
  Item Name: Materialize - Material Design Admin Template
  Version: 4.0
  Author: PIXINVENT
  Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================ -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description"
          content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords"
          content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>SEDPI SMS Blast System</title>
    <!-- Favicons-->
    <link rel="icon" href="asset/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="asset/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="asset/css/themes/semi-dark-menu/materialize.css" type="text/css" rel="stylesheet">
    <link href="asset/css/themes/semi-dark-menu/style.css" type="text/css" rel="stylesheet">
    <link href="asset/vendors/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet">
    <link href="asset/vendors/dropify/css/dropify.css" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="asset/css/custom/custom.css" type="text/css" rel="stylesheet">
    <link href="asset/css/plugins/media-hover-effects.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="asset/vendors/magnific-popup/magnific-popup.css" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="asset/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="asset/vendors/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet">
    <link href="asset/vendors/animate-css/animate.css" type="text/css" rel="stylesheet">
    <link href="asset/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
    <link href="libs/selectize/selectize.default.css" type="text/css" rel="stylesheet">
    <link href="asset/vendors/data-tables/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
    <link href="asset/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="asset/fontawesome/css/brands.css" rel="stylesheet">
    <link href="asset/fontawesome/css/solid.css" rel="stylesheet">
</head>
<body class="layout-dark">
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color">
            <div class="nav-wrapper"></div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
            <div class="brand-sidebar">
                <h1 class="logo-wrapper">
                    <a ui-sref="timesheets" class="brand-logo darken-1">
                        <i class="material-icons">center_focus_strong</i>
                        <span class="logo-text hide-on-med-and-down">SEDPI</span>
                    </a>
                    <a href="#" class="navbar-toggler">
                        <i class="material-icons">radio_button_checked</i>
                    </a>
                </h1>
            </div>
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="bold">
                    <a ui-sref="home" class="waves-effect waves-cyan">
                        <i class="material-icons">dashboard</i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="bold">
                    <a ui-sref="user" class="waves-effect waves-cyan">
                        <i class="material-icons">supervisor_account</i>
                        <span class="nav-text">Users</span>
                    </a>
                </li>
                <li class="bold">
                    <a ui-sref="messages" class="waves-effect waves-cyan">
                        <i class="material-icons">textsms</i>
                        <span class="nav-text">Messages</span>
                    </a>
                </li>
                <li class="bold">
                    <a ui-sref="receivers" class="waves-effect waves-cyan">
                        <i class="material-icons">group_add</i>
                        <span class="nav-text">Receivers</span>
                    </a>
                </li>
            </ul>
            <a href="#" data-activates="slide-out"
               class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow">
                <i class="material-icons">menu</i>
            </a>
        </aside>

        <ui-view></ui-view>
    </div>
    <!-- END WRAPPER -->
</div>

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright ©
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script> <a class="grey-text text-darken-2"
                           href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">SEDPI</a> All rights reserved.</span>
            <span class="right hide-on-small-only"> Design and Developed by <a class="grey-text text-darken-2"
                                                                               href="https://pixinvent.com/">MadTheories</a></span>
        </div>
    </div>
</footer>

<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="asset/vendors/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="libs/selectize/selectize.min.js"></script>
<script type="text/javascript" src="libs/angular.js"></script>
<script type="text/javascript" src="libs/angular-ui-router.min.js"></script>
<script type="text/javascript" src="libs/sweetalert.min.js"></script>

<script type="text/javascript" src="libs/selectize/angular-selectize.js"></script>
<script type="text/javascript" src="libs/dir-paginate/dirPagination.js"></script>
<script type="text/javascript" src="libs/ngStorage.min.js"></script>
<script type="text/javascript" src="libs/angular-validation/angular-validation.js"></script>
<script type="text/javascript" src="libs/angular-validation/angular-validation-rule.min.js"></script>
<script type="text/javascript" src="app/app.module.js"></script>
<script type="text/javascript" src="app/app.config.js"></script>
<script type="text/javascript" src="asset/vendors/angular-materialize.js"></script>

<script type="text/javascript" src="app/controllers/user/user-service.js"></script>
<script type="text/javascript" src="app/controllers/dashboard/dashboard-service.js"></script>
<script type="text/javascript" src="app/controllers/messages/messages-service.js"></script>
<script type="text/javascript" src="app/controllers/receivers/receivers-service.js"></script>

<script type="text/javascript" src="app/controllers/user/user-controller.js"></script>
<script type="text/javascript" src="app/controllers/dashboard/dashboard-controller.js"></script>
<script type="text/javascript" src="app/controllers/messages/messages-controller.js"></script>
<script type="text/javascript" src="app/controllers/receivers/receivers-controller.js"></script>
<script type="text/javascript" src="app/controllers/index-controller.js"></script>

<script type="text/javascript" src="app/directives/dateDirective/dateDir.js"></script>
<script type="text/javascript" src="app/directives/productDirective/productDir.js"></script>
<script type="text/javascript" src="app/directives/productDirective/productDetail-controller.js"></script>


<!--materialize js-->
<script type="text/javascript" src="asset/js/materialize.min.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="asset/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<!-- sparkline -->
<script type="text/javascript" src="asset/vendors/sparkline/jquery.sparkline.min.js"></script>

<script type="text/javascript" src="asset/vendors/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="asset/vendors/dropify/js/dropify.js"></script>
<!--jvectormap-->
<script type="text/javascript" src="asset/vendors/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script type="text/javascript" src="asset/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<script type="text/javascript" src="asset/vendors/jvectormap/vectormap-script.js"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="asset/js/plugins.js"></script>
<!-- data-tables -->
<script type="text/javascript" src="asset/vendors/data-tables/js/jquery.dataTables.min.js"></script>
<!--data-tables.js - Page Specific JS codes -->
<script type="text/javascript" src="asset/js/scripts/data-tables.js"></script>
<!--custom-script.js - Add your own theme custom JS-->
<script type="text/javascript" src="asset/js/custom-script.js"></script>
<script type="text/javascript" src="asset/vendors/prism/prism.js"></script>
<!-- masonry -->
<script src="asset/vendors/masonry.pkgd.min.js"></script>
<!-- imagesloaded -->
<script src="asset/vendors/imagesloaded.pkgd.min.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>

<script type="text/javascript" src="asset/js/scripts/advanced-ui-modals.js"></script>
<script type="text/javascript" src="asset/js/scripts/form-file-uploads.js"></script>
<script type="text/javascript" src="asset/js/scripts/css-animation.js"></script>
<script type="text/javascript" src="asset/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
<!--media-hover-effects.js - Page Specific JS codes -->
<script type="text/javascript" src="asset/js/scripts/media-hover-effects.js"></script>
</body>
</html>