<section id="content">
    <div class="container" ng-show="!isViewDetail">
        <br>
        <div class="card-panel">
            <div class="row center-align">
                <div class="col s12 center"><h4><span class="card-title">Roles</span></h4></div>
            </div>
            <div class="row">
                <div data-restrict access="SEARCH_ROLES" class="input-field col s10">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" ng-model="search" type="text" class="validate">
                    <label for="icon_prefix">Search</label>
                </div>
                <div data-restrict access="CREATE_ROLE" class="input-field col s2">
                    <div class="input-field col s12">
                        <button class="btn green waves-effect waves-light right"
                                ng-click="createRole()" name="action">
                            <i class="material-icons left">add</i> New
                        </button>
                    </div>
                </div>
            </div>
            <div ng-show="isLoading" class="col s12 center-align">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer center spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="!isLoading" class="col s12">
                <br>
                <div ng-show="totalRoles > 0" data-restrict access="VIEW_ROLES" >
                    <ul class="collection" >
                        <li class="collection-item" dir-paginate="role in roles | itemsPerPage:pageSize"
                            current-page="currentPage" ng-click="editRole(role, $index)"
                            total-items="totalRoles" pagination-id="roles"><div class="truncate">{{role.roleName}}</div></li>
                    </ul>
                    <div class="center-align">
                        <dir-pagination-controls boundary-links="true" pagination-id="roles"
                                                 on-page-change="pageChangeHandler(newPageNumber)"
                                                 template-url="libs/dir-paginate/dirPagination.tpl.html">
                        </dir-pagination-controls>
                    </div>
                </div>
                <div ng-show="totalRoles == 0" data-restrict access="VIEW_ROLES" class="card-content">
                    <div class="row">
                        <div class="col s12 center-align"><h2 class="center"><span class="card-title">No Roles has been listed</span></h2></div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="container" ng-show="isViewDetail">
        <br>
        <div class="card-panel">
            <div class="card-content">
                <div class="row">
                    <form class="col s12" name="Form">
                        <div class="row">
                            <div ng-show="!role.id" class="col s6"><h5><span class="card-title">Create New Role</span></h5></div>
                            <div ng-show="role.id" class="col s6"><h5><span class="card-title">Edit Role</span></h5></div>
                            <div class="col s6"><a ng-click="back()" class="waves-effect waves-light right"><i class="material-icons prefix">keyboard_backspace</i></a></div>
                        </div>
                        <div class="input-field">
                            <input type="text"
                                   ng-model="role.roleName"
                                   id="role_name">
                            <label for="role_name" class="">Role Name</label>
                            <span ng-show="isRoleNameHasError"><p style="color: red;">Role must not be empty</p></span>
                        </div>
                        <div class="row" id="selectPrivileges">

                            <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
                                <li ng-repeat="tab in tabs track by $index">
                                    <div class="collapsible-header">
                                        <i class="material-icons">{{tab.iconClass}}</i> {{tab.tabName}}</div>
                                    <div class="collapsible-body">
                                        <div class="row" ng-repeat="privilege in tab.privileges track by $index">
                                            <div class="col s5 ">
                                                <input type="checkbox" class="filled-in" ng-model="privilege.boolean" id="{{privilege.key}}"/>
                                                <label for="{{privilege.key}}">{{privilege.privilegeName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div data-restrict access="CREATE_ROLE EDIT_ROLE DELETE_ROLE" class="fixed-action-btn horizontal" style="bottom: 50px; right: 19px;" ng-show="isViewDetail">
                            <a class="btn-floating btn-large">
                                <i class="material-icons">add</i>
                            </a>
                            <ul>
                                <li data-restrict access="CREATE_ROLE EDIT_ROLE" >
                                    <a class="btn-floating green tooltipped btn" ng-click="submit()" data-position="top"  style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" data-tooltip="Save">
                                        <i class="material-icons">save</i>
                                    </a>
                                </li>
                                <li ng-show="role.id" data-restrict access="DELETE_ROLE" >
                                    <a class="btn-floating red tooltipped" ng-click="deleteRole()" data-position="top"  style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" data-tooltip="Discard">
                                        <i class="material-icons">close</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <!-- <div class="col s8">

                     </div>-->
                </div>
            </div>
        </div>
    </div>
</section>